header {
    background-color:rgb(127, 127, 212);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#fire {
    width: 48px;
}
a {
    color:white;
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
article {
    background-color: beige;
}
#backend {
    background-color: teal;
}
body {
    background-color: white;
}
#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#avatar {
    width: 120px;
    height: 120px;
}
